@model Hotel.WEB.Models.Identity.ChangePasswordViewModel
@{
    ViewBag.Title = "Change password";
}
@Styles.Render("~/Content/css/changepasswordpage.css")
<article id="user-profile-page" class="text-center p-1 page-header">@ViewBag.Title</article>

<article class="d-lg-flex justify-content-center form-change-password">
    @using (Html.BeginForm("ChangePassword", "Manage",
        FormMethod.Post, new { @class = "", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="text-center">Fill the following fields</div>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="d-lg-flex justify-content-center">
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-10 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="d-lg-flex justify-content-center">
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-10 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="d-lg-flex justify-content-center">
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-10 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
                <div class="col-md-offset-2 col-md-10 mt-3">
                    <input type="submit" value="Change password" class="btn btn-dark" />
                </div>
            </div>
        </div>
    }
</article>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
